/* ComparePage.module.scss */
.page {
  min-height: 100vh;
  background: #D0E3C8;
}

.header {
  background: #9FB69F;
  padding: 16px 0;
}


.main {
  max-width: 100vw;

}


@media (min-width: 920px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
